.intro {
  background-image: url(../../img/landing.JPG);
  width: 100%;
  height: 100vmin;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

.intro h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 10vmin;
  text-shadow: 0px 0px 60px black;
  text-wrap: balance;
  align-self: center !important;
}

.intro h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 7.5vmin;
  text-shadow: 0px 0px 60px black;
  text-wrap: balance;
}

.top-button {
  position: fixed;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  right: 20px;
  bottom: 20px;
  z-index: 999;
  animation: fadeInAnimation 1s;
  opacity: 0.7;
}

.top-button svg {
  transform: scale(1.3);
}

@media (width < 992px) {
  .intro {
    height: 100vmax;
  }
}

@media (width <= 600px) {
  .intro h1 {
    font-size: 13vmin;
  }
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}
