.intro {
  background-image: url(../../img/landing.JPG);
  width: 100%;
  height: 100vmin;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  /* margin-top: 85.81px; */
}

.intro h1 {
  width: 90%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 10vmin;
  text-shadow: 2px 2px 50px black;
  /* padding: 0 3rem 0 3rem; */
  text-wrap: balance;
  align-self: center !important;
}

.down-icon {
  animation: shakeY infinite 10s;
  transition: 1s;
  font-size: 5vh;
}
.down-icon-remove {
  opacity: 0;
  transition: 1s;
}

@media (width < 992px) {
  .intro {
    height: 100vmax;
  }
}

@media (width <= 600px) {
  .intro h1 {
    font-size: 13vmin;
  }
}
