.ourclients-bg {
  color: var(--primary);
  position: relative;
}

.client-item {
  max-width: 200px;
  align-self: center;
}

.client-item img {
  max-width: 100%;
  height: auto;
}

.ourclients-bg::before {
  content: " ";
  display: block;
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 50%;
  width: 100%;
  height: 100%;
  background-image: url(../../img/tramas.png);
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(75%) sepia(47%) saturate(3720%) hue-rotate(256deg)
    brightness(86%) contrast(84%);
  transform: scale(1.2) rotate(-60deg);
  opacity: 0.05;
}

.ourclients-bg .banner img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  object-position: center 30%;
  border-radius: 5rem;
  position: relative;
  top: 3rem;
  z-index: 1;
}

@media (width < 768px) {
  .ourclients-bg .banner img {
    height: 225px;
    border-radius: 2rem;
  }
}

/* ------------- Nuestra Historia ------------- */

.history-bg {
  background-color: var(--primary);
  color: white;
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 2rem;
  bottom: 30px;
  position: relative;
  margin-bottom: -2rem;
}

.history-bg p {
  background-color: var(--primary);
  z-index: 1;
}
