.services-bg {
  background-image: url(../../img/services.JPG);
  width: 100%;
  height: auto;
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
}

.service-content h1 {
  text-wrap: balance;
}

.service-content {
  background: var(--secondary);
  padding: 5rem 3rem 5rem 3rem;
  border-radius: 9rem;
  margin-top: -5rem;
  margin-bottom: -8rem;
  margin-left: -6rem;
  position: relative;
  z-index: 0;
}

@media (768px <= width < 992px) {
  .service-content {
    padding: 6rem 2rem 3rem 2rem;
    margin-left: 0;
    margin-top: -5rem;
    max-width: 550px;
    margin-left: 5rem;
  }
}

@media (width < 768px) {
  .service-content {
    padding: 5rem 2rem 3rem 2rem;
    margin-left: 0;
    margin-top: -5rem;
  }
  .services-bg {
    background-position: center;
  }
}

@media (992px <= width < 1200px) {
  .services-bg {
    background-position: 300px;
  }
  .service-content {
    padding: 10rem 2rem 4rem 2rem;
    margin-left: -3rem;
    margin-top: -4rem;
  }
}

@media (width > 992px) {
  .services-bg {
    background-position: 300px;
  }
}
