.about-bg {
  background-color: var(--primary);
  color: white;
}

.about-img img {
  width: 100%;
  height: 550px;
  border-radius: 11rem;
  object-fit: cover;
  transform: scale(1.001);
  z-index: 99;
}
