#contacto h2,
h4 {
  color: var(--secondary);
}

#contacto span {
  color: black !important;
  font-weight: 400;
}

#contacto span a {
  text-decoration: none;
  color: black;
}

#contacto a:hover {
  animation: pulse infinite 1s;
}

#contacto .logo {
  width: 100%;
  height: auto;
}

.logo img {
  width: 100%;
  height: auto;
  transform: scale(1.35);
}

@media (width < 768px) {
  .logo img {
    transform: scale(1);
  }
}
