#contacto h2,
h4 {
  color: var(--secondary);
}

#contacto span {
  color: black !important;
  font-weight: 400;
}

#contacto span a {
  text-decoration: none;
  color: black;
}

#contacto a:hover {
  animation: pulse infinite 1s;
}

.logo {
  width: 100%;
  max-width: 300px;
}

.logo img {
  width: 135%;
  height: auto;
}

@media (width <= 650px) {
  .logo img {
    width: 100%;
  }
}
